<ion-content>
    <div class="wrapper">
        <div class="encabezado">
            <div class="encabezado__logo">
            </div>
        </div>

        <div class="wrapper__negro"></div>
        <!-- <div class="wrapper__abajo"></div> -->
        <div class="wrapper__arriba"></div>
        <div class="wrapper__abajo"></div>

        <div id="container">
            <h4 id="titulo">Iniciar Sesión</h4>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon></ion-icon>
                        <button id="redes" class="button button-clear">
                            <img src="../../../assets/img/google.svg" width="60" alt="">
                        </button>
                    </ion-col>
                    <ion-col>
                        <button id="redes">
                            <img src="../../../assets/img/facebook.svg" width="60" alt="">
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <br>
            <div id="datos">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-input class="entradaForm" type="text" id="inp" placeholder="E-mail"></ion-input>
                        </ion-col>
                        <ion-col size="10">
                            <ion-input class="entradaForm" type="password" id="inp" placeholder="Contraseña"></ion-input>
                        </ion-col>
                        <ion-col size="2">
                            <button ><ion-icon name="eye" id="eye"></ion-icon></button>
                        </ion-col>
                    </ion-row>

                    <br>
                </ion-grid>
            </div>
            <br><br>
            <div id="btnActions">
                <ion-grid>
                    <ion-col>

                        <div class="btnModleo">
                            
                            <button class="btn btnAtras" [routerLink]="['/home']" id="btact1">
                                
                                <span class="icoElipse">
                                    <ion-icon name="arrow-back-outline"></ion-icon>
                                </span>
                            
                                <span class="btnText">Cancelar</span>
                            </button>

                        </div>
                    </ion-col>

                    <ion-col>
                        
                        <div class="btnModelo">
                            <button class="btn btnAdelante" fill="clear" [routerLink]="['/principal']" id="btact2">
                                <span class="btnText">Ingresar</span>
                                <span class="icoElipse">
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                </span>
                            </button>
                        </div>

                    </ion-col>
                </ion-grid>
            </div>
        </div>
    </div>

</ion-content>